<div class="main-content">
    <div class="container-fluid">
        <div class="card">
            <div class="row">
                <div class="col-md-12">
                    <form [formGroup]="form">
                        <div class="card-content">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group label-floating">
                                        <angular2-multiselect class="form-control" 
                                            [formControl]="exchange" 
                                            [data]="exchangeOptions" 
                                            [(ngModel)]="exchangeSelectionItems"
                                            [settings]="exchangeDropdownSettings" 
                                            (onSelect)="onExchangeItemSelect($event)"
                                            (onDeSelect)="onExchangeItemSelect($event)"
                                            (onSelectAll)="onExchangeItemSelect($event)" 
                                            (onDeSelectAll)="onExchangeItemSelect($event)"></angular2-multiselect>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group label-floating">
                                        <angular2-multiselect class="form-control" 
                                            [formControl]="symbol" 
                                            [data]="symbolOptions" 
                                            [(ngModel)]="symbolSelectedItems"
                                            [settings]="symbolDropdownSettings" 
                                            (onSelect)="onSymbolItemSelect($event)"
                                            (onDeSelect)="onSymbolItemSelect($event)"
                                            (onSelectAll)="onSymbolItemSelect($event)" 
                                            (onDeSelectAll)="onSymbolItemSelect($event)"></angular2-multiselect>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>   
        </div>
        <div class="card">
            <div class="card-header card-header-icon" data-background-color="rose">
                <i class="material-icons">apps</i>
            </div>
            <div class="card-content">
                <h4 class="card-title">Live Data</h4>
                <div class="row">
                    <div class="col-md-12">
                        <ag-grid-angular #agGrid
                            class="ag-dark"
                            style="width: 100%; height:48vh;"
                            [gridOptions]="liveGridOptions"
                            [rowData]="rowData"
                            (gridReady)="onGridReady($event)"
                            enableSorting
                            accentedSort="true"
                            rowSelection="single"
                            rowHeight="22"
                            enableCellChangeFlash="true"
                            animateRows="true">
                        </ag-grid-angular>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

